body {
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 8px; 
  box-sizing: border-box;
}

/* La tarjeta blanca donde van los chistes */
#caja-chiste {
  background-color: white;
  border: 2px solid #000000;
  width: 98%; 
  max-width: 750px;
  min-height: 75vh; 
  padding: 30px 20px;
  border-radius: 18px;
  text-align: center;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#numero-chiste {
  color: #777;
  font-size: 30px; 
  margin-bottom: 10px;
}

#texto-chiste {
  font-size: 34px; 
  margin: 20px 0;
  line-height: 1.4;
  white-space: pre-line;
  color: #111;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  width: 100%;
  padding: 25px; 
  font-size: 26px; 
  font-weight: bold;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 12px;
  border: 2px solid #333; 
}

/* Esta clase se añade desde JavaScript si el chiste es de humor negro */
.alerta {
  background-color: #222222 !important;
  color: white !important;
  border: 3px dotted red !important;
}

.alerta #numero-chiste {
  color: #ff4d4d !important;
}

.alerta #texto-chiste {
  color: #ffcccc !important;
}